/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#menu-bouton {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 51px 0;
}

.button-category {
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 9px 15px;
	background: #FFFFFF;
	color: #1D6154;
	font-weight: 700;
	font-size: 16px;
}

.button-category:hover {
	background: #1D6154;
	color: #FFFFFF;
}

.mdp {
color: #3D3D3D;
}

#page-login {
	width: 50%;
margin: auto;
}
#page-login > * {
	text-align: center;

}
#page-login h2{
	margin-bottom: 20px;
}
#page-login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#page-login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#page-login label {
	margin: 2em 0 1em 0;
}
#page-login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.mode-edition {
	display: flex;
	justify-content: center;
	background: black;
	width: 100%;
	height: 59px;
}

.mode-edition ul {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	gap: 44px;
}

.mode-edition li:hover {
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border-radius: 60px;
	height: 38px;
	width: 200px;
	font-weight: 500;
	font-size: 14px;
	color: #000000;
}

.btn-modifier1 {
	display: flex;
	margin: 15px 0 0 57px;
    gap: 11px;
	border: none;
	background: none;
	padding: 0;
	font-family: 'Work Sans';
	font-size: 14px;
	line-height: 16px;
}

.btn-modifier2 {
	display: flex;
    gap: 11px;
	border: none;
	background: none;
	padding: 0;
	font-family: 'Work Sans';
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 1em;
}

.modif-mode-edition {
	display: flex;
	justify-content: center;
	gap: 31px;
	align-items: center;
}

.mode-edition, .btn-modifier1, .btn-modifier2, .lien-logout {
	display: none;
}

.modale {
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modale-content {
	width: 430px;
	height: 631px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding: 50px 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.delete-gallery {
	font-family: 'Syne';
	font-size: 14px;
	color: #D65353;
	border: none;
	background: none;
}

.edit-gallery {
	display: grid;
	grid-template-columns: 80px 80px 80px 80px 80px;
	gap: 25px 6px;
	margin: 46px 105px 0px 105px;

}

.premier-work {
	width: 78.12px;
	height: 104.08px;
	background-size: cover;
}
.btn-work {
	position: relative;
}

.btn-projet {
	border: none;
	background: none;
	background: #000000;
	border-radius: 2px;
	position: absolute;
	Width: 17px;
	Height: 17px;
	top: 6px;
	right: 26px;
}

.btn-delete {
	border: none;
	background: none;
	border-radius: 2px;
	background: #000000;
	position: absolute;
	Width: 17px;
	Height: 17px;
	top: 6px;
	right: 6px;
}

.icone-delete {
	color: #FFFFFF;
	position: absolute;
	top: 8px;
	right: 4px
}

.btn-editer {
	border: none;
	background: none;
	padding: 0;
	position: absolute;
	margin-top: 105px
}

.icone-editer {
	color: #FFFFFF;
	position: absolute;
	top: 2px;
	right: 2px;
}

.btn-close {
	border: none;
	background: none;
	position: absolute;
	top: 32px;
	right: 35px;
}

h3 {
	font-size: 26px;
	margin-top: 15px;
}

#btn-photo {
	border: none;
	background: #1D6154;
	border-radius: 60px;
	font-size: 14px;
	width: 237px;
	height: 36px;
	margin-top: 33px;
	margin-bottom: 23px;
}

#hr {
	margin-top: 67px;
	border-bottom: 1px solid #b3b3b3;
	width: 420px;
}

#btn-valider {
	background: #A7A7A7;
	border: none;
	border-radius: 60px;
	font-size: 14px;
	width: 237px;
	height: 36px;
	margin-top: 33px;
	margin-bottom: 23px;
}

label {
	display: block;
	line-height: 16px;
	padding-bottom: 10px;
	padding: 21px 0 10px 0;
}

.modale-content-v2 {
	width: 430px;
	height: 631px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding: 50px 100px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	position: relative;
}

#title {
	border: none;
	width: 420px;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.4);
}

#form-categorie {
	border: none;
	width: 430px;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.4);
}

.div-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 36px;
	margin-bottom: 15px;
	width: 420px;
	height: 169px;
	background: #d4e3ee;
	border-radius: 3px;
}

.ajouter-img {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 173px;
	height: 36px;
	background: #CBD6DC;
	border-radius: 50px;
	color: #306685;	
}

.jpg {
	margin-top: 7px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #444444;
}

.btn-return {
	border: none;
	background: none;
	position: absolute;
	top: 32px;
	left: 30px;
}

.title-photo {
	display: flex;
	justify-content: center;
}
